body{
    background-color:transparent;
}
.colorblob{
    position:absolute;
    width: 88vw;
    height:88vw;
    border-radius:50%;
    transform:translate(-50%,-50%);
    pointer-events:none;
    mix-blend-mode: exclusion;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    filter:blur(16vw);
    /*background-color:#FCB431;*/
    /*other colors: #FCB431, #FCC9CD #6c9A8B,#f2efe9, #e9dc6b */
   /* background: radial-gradient(#6c9A8B, #f2efe9);*/

   animation: animate 60s ease-in-out;
}
@keyframes animate {
	0% {
		background: #FCB431;
	}
	50% {
		background: #FCC9CD;
	}
	100% {
		background: #6c9A8B;
	}
}
